[submodule "A01_AlanBauza"]
	path = A01_AlanBauza
	url = ../A01_AlanBauza
[submodule "A02_AlanBauza"]
	path = A02_AlanBauza
	url = ../A02_AlanBauza
[submodule "A03_AlanBauza"]
	path = A03_AlanBauza
	url = ../A03_AlanBauza
[submodule "A04_AlanBauza"]
	path = A04_AlanBauza
	url = ../A04_AlanBauza
[submodule "APKs_finalizados"]
	path = APKs_finalizados
	url = ../APKs_finalizados
[submodule "A05_AlanBauza"]
	path = A05_AlanBauza
	url = https://github.com/alanbalfonso/A05_AlanBauza
[submodule "A06_AlanBauza"]
	path = A06_AlanBauza
	url = ../A06_AlanBauza
[submodule "A07_AlanBauza"]
	path = A07_AlanBauza
	url = ../A07_AlanBauza
[submodule "A08_AlanBauza"]
	path = A08_AlanBauza
	url = ../A08_AlanBauza
[submodule "A09_AlanBauza"]
	path = A09_AlanBauza
	url = ../A09_AlanBauza
[submodule "A10_AlanBauza"]
	path = A10_AlanBauza
	url = ../A10_AlanBauza
[submodule "A11_AlanBauza"]
	path = A11_AlanBauza
	url = ../A11_AlanBauza
[submodule "A12_AlanBauza"]
	path = A12_AlanBauza
	url = ../A12_AlanBauza
